#imagenes {
	background-color: #d5c75f;
}

.efecto1 {
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.efecto2 {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.efecto3 {
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

.seccion > div {
  background-color: #d5c75f;
	text-align: center;
	width: 33.33333%;
	display: block;
	flex-direction: row;
  float: left;
}

.seccion > div > figure > img{
  width: 391px;
  height: 220px;
}
